a { color: inherit; }
html { background-color: #848f82 }

.header {
    text-align: center;
}

.menuContainer {
    margin: auto;
    width: 40%;
}

.menuItem {
    float: left;
    width: 19%;
    border: 2px solid black;
    padding-bottom: 6px;
    padding-top: 6px;
}

.menuItem:hover {
    background: dimgray;
}

.header h3 {
    color: gray;
}

.data {
    float: left;
    width: 30vw;
    padding-left: 4vw;
}

.plants {
    float: left;
    width: 46vw;
    padding-left: 10vw;
    height: 3vw;
}

.plantsItems {
    vertical-align: center;
    text-align: center;
    font-size: 50px;
    float: left;
    padding:2%;
    width:36%;
    height: 200%;
    border-radius: 10px;
    border: black solid 2px;
}

.plantsItems:hover {
    background: slategrey;
}

.columnHeaders {
    padding: 10px;
    font-size: 20px;
    float: left;
    width: 50%;
    border: black solid 2px;
    overflow: auto;
    white-space: nowrap;
    border-radius: 10px;
}

.columns {
    padding: 10px;
    font-size: 20px;
    float: left;
    width: 30%;
    border: black solid 2px;
    overflow: auto;
    white-space: nowrap;
    border-radius: 10px;
}
